    <!-- Slider -->
    <div class="page page-shift">
      <% if @ads != nil && @ads.size >= 1 then %>
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">

            <% for ad in @ads %>
              <% if @first then %>
                <div class="item active">
                  <% @first = false %>
              <% else %>
                <div class="item">
              <% end %>
              <center><a href="<%=ad.adv_url%>"/><img src="<%=ad.url%>" style="max-height:400px"></a></center>
              <div class="container">
                <div class="carousel-caption">
                  <p class="lead"><%=ad.description%></p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>
      <% end %>
      

      <div class="container">
        <!-- Title Page -->
        <div class="row">
          <div class="span12">
            <div class="title-page">
              <div class="page-description">
                <br/>
              
                <div class="row">
                    <% @best_trips.each do |key,value| %>
                      <div class="span4">
                        <h3>Ближайшие <%=@best_trips_headers[key].downcase%></h3>
                        <table class="table table-hover">
                          <% for trip_schedule in value %>
                            <tr>
                              <td class="day">
                                <% if trip_schedule.date_start != trip_schedule.date_end %>
                                 
                                  <%= link_to trip_schedule.date_start.day.to_s + "-" + l(trip_schedule.date_end.to_date, :format => :short), trip_schedule.trip %>;
                                  
                                <% else %>
                                 <%= link_to l(trip_schedule.date_start.to_date, :format => :short), trip_schedule.trip %>
                                <% end %>
                              </td>
                              <td><%=link_to trip_schedule.trip.name, trip_schedule.trip %></td>
                            </tr>
                          <% end %>
                        </table>
                      </div>

                    <% end %>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Title Page -->
      </div>
    </div>
    
    <!-- End Our Work Section -->
    <div id="schedule" class="page-alternate" style="background: url(schedule-header2.png); background-size: auto 100%; background-position: center; background-repeat:repeat-x;text-align: center;vertical-align: middle;line-height: 10px;color:white;padding: 25px 0 25px 0">
        <br>График всех поездок
      </div>
      <div class="container">
        <!-- Title Page -->
        <div class="row">
        	<table class="table table-bordered">
        		<% last_category_id = nil %>
        		<% for trip in @trips %>
        			<% if last_category_id != trip.trip_category_id && trip.trip_category != nil %>
        				<% last_category_id = trip.trip_category_id %>
        				<tr style="background-color:#f9dca5">
        					<td><div id="<%=trip.trip_category.tag%>"><%= trip.trip_category.name %></div></td>
                  <td>ЯНВ</td>
                  <td>ФЕВ</td>
                  <td>МАР</td>
                  <td>АПР</td>
                  <td>МАЙ</td>
                  <td>ИЮН</td>
                  <td>ИЮЛ</td>
                  <td>АВГ</td>
                  <td>СЕН</td>
                  <td>ОКТ</td>
                  <td>НОЯ</td>
                  <td>ДЕК</td>
        				</tr>
        			<% end %> 
        			
        			<tr>
        				<td><%= link_to trip.name, trip %></td>
		        		<% for month in 1..12 %>
        					<td>
        						
                    <% for schedule in @schedule.select{ |s| s.date_start.month == month && s.trip == trip } %>
                    
                      <% if schedule.date_start != schedule.date_end %>
                    
                        <%= link_to schedule.date_start.day.to_s + "-" + schedule.date_end.day.to_s, schedule.trip %>;
                        
                      <% else %>
                       <%= link_to "#{schedule.date_start.day}", schedule %>;
                      <% end %>
        						
                    <% end %>

        					</td>
        				<% end %>
        			</tr>
        		<% end %>
        	</table>
        </div>
      </div>
    <!-- About Section -->
    <div id="about" class="page-alternate">
      <div class="container">
        <!-- Title Page -->
        <div class="row">
          <div class="span12">
            <div class="title-page">
              <h2 class="title">О Нас</h2>
              <div class="page-description">
                <p>«Господи… востани в сретение мое и виждь… Аз же воспою силу твою и возрадуюся заутра о милости твоей, яко был еси заступник мой и Прибежище мое в день скорби моея» (пс.58)

                Паломническая служба «Сретение» образована 20 октября 2007 года, по благословению митрофорного протоиерея Иоанна (Миронова)

                Если вы никогда не бывали в паломнической поездке и впервые зашли на наш сайт, многое из предложенного будет вас смущать и удивлять, но это только до первой поездки. Если вы сумеете перебороть в себе это смущение, то перед вами откроется другой мир: мир тайны, мир гармонии, тишины и радости.

                Паломничество зародилось очень давно, именно как вид путешествия. И отличается оно лишь тем, что человек едет отдыхать душой, а не только телом. Паломническая поездка всегда подразумевает посещение святых и памятных мест, поклонение различным святыням. На сегодняшний день миллионы людей ежегодно совершают паломнические поездки по всему миру. И число таких путешественников растет год от года.

                «Паломник» в переводе с греческого — пальма. Оказывается, первые христиане шли ко Гробу Господню в Иерусалим, чтобы возложить веточку пальмы как знак победы духа над плотью, победы любви к Господу над мелкими житейскими проблемами, победы силы воли над бытом и суетой. И Господь по вере вашей щедро награждает каждого..

                В паломническое агентство «Сретение» обращаются не только глубоко верующие люди, но и все жители города, интересующиеся развитием православия, историей и мировым культурным наследием. Наши паломнические поездки из СПб по святыням русской земли настолько интересы и познавательны, что все экскурсанты возвращаются к нам, чтобы посетить новую обитель. Всем давно известно, что паломничество по России и другим странам делает людей духовно богаче, глубже и помогает понять многие вещи, которые казались совсем недавно незначительными или неинтересными.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Title Page -->
        <div class="row margin-40">
          <div class="span4">
            <h3>Однодневные поездки</h3>
            <p> Мы разработали маршруты путешествий по России и за ее пределами. Основными направления работы ПС «Сретение» являются: религиозно-просветительские путешествия, миссионерские поездки, паломничество, образовательные туры, прием групп в России, организация передач на православном радио  о паломничестве. </p>
          </div>
          <div class="span4">
            <h3>Многодневные поездки</h3>
            <p>География паломнических маршрутов включает в себя туры от Синая до Соловецких островов. Помимо паломнических поездок ПС «Сретение» предлагает такой вид путешествий, как паломничество + отдых на побережье. Так Вы можете совместить посещение зарубежных святынь с отдыхом на морском берегу по доступным ценам (Болгария, Греция, Кипр, Крым, Италия, Черногория).</p>
          </div>
          <div class="span4">
            <h3>За границу</h3>
            <p>Чудотворные иконы, исцеляющие источники, святые мощи, возрожденные монастыри, могут стать местом исцеления вашей души и тела. Также мы принимаем паломников из других городов: обеспечиваем проживание, питание, экскурсионное и транспортное обслуживание.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End About Section -->
    <!-- End Services Section -->
    <!-- Google Map -->
    <div id="map-area">
      <img class="map" src="map.jpg" style="width:100%; height: auto;"/>
    </div>
    <!-- End Google Map -->
    <!-- Contact Section -->
    <div id="contact" class="page">
      <div class="container">
        <!-- Title Page -->
        <div class="row">
          <div class="span12">
            <div class="title-page">
              <h2 class="title">Оставить заявку</h2>
              <div class="page-description">
                <p>Вы можете оставить заявку, и мы свяжемся с Вами.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Title Page -->
        <!-- Contact Form -->
        <div class="row">
          <div class="span9">
            <form id="contact-form" class="contact-form" action="request" method="post">
              <p class="contact-name">
                <input id="contact_name" type="text" placeholder="Имя" value="" name="name">
              </p>
              <p class="contact-email">
                <input id="contact_email" type="text" placeholder="Телефон/Email" value="" name="email">
              </p>
              <p class="contact-message">
                <textarea id="contact_message" placeholder="Сообщение" name="message" rows="5" cols="40"></textarea>
              </p>
              <p class="contact-submit">
                <input type="submit" id="contact-submit" class="submit" href="request"/>
              </p>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token =%>
              <div id="response"></div>
            </form>
          </div>
          <div class="span3">
            <div class="contact-details">
              <h3>Контакты</h3>
              <ul>
                <li><a href="mailto:request@sreteniespb.ru">request@sreteniespb.ru</a></li>
                <li>(812) 314-46-73</li>
                <li>
                  Сретение
                  <br>
                  Набережная Канала Грибоедова, д.5
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Services Form -->
      </div>
    </div>