<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Паломническая служба "Сретение" - паломнические поездки из Санкт-Петербурга (СПб) по России, в Израиль, Грецию</title>
    <meta name="description" content="Сайт паломнической службы &quot;Сретение&quot;  расскажет вам о  паломнических поездках из Санкт-Петербурга (СПб) по России, в Израиль, Грецию,">
    <meta name="keywords" content="паломническое агентство, паломническая служба петербург, паломнические службы санкт петербурга, паломничество по россии, паломнические поездки из санкт петербурга, паломнические поездки из СПб, православное паломничество, однодневные паломнические поездки, <%=yield(:keywords)%>">
    <link href="http://themes.alessioatzeni.com/html/chakra/light/_include/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://themes.alessioatzeni.com/html/chakra/light/_include/css/bootstrap-responsive.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>


  <style>
    body {
      font-size: 15px;
    }
  </style>

  <body>
    <header>
      <!-- Floating Menu -->
      <div class="sticky-wrapper">
        <div class="sticky-nav">
          <div class="sticky-menu">
            <nav id="menu">
              <!-- First Menu Line -->
              <ul id="menu-nav" class="menu-line">
                <li><a href="<%=root_path%>">График поездок</a></li>
                <li><a href="<%=root_path%>#about">О Нас</a></li>
                <li><a href="<%=news_path%>">Новости</a></li>
                <li><a href="<%=guests_path%>">Прием паломников в СПб</a></li>
                <li><a href="<%=reviews_path%>">Отзывы</a></li>
                <li><a href="<%=contacts_path%>">Контакты</a></li>
              </ul>
              <!--  Second Menu Line -->
              <ul id="menu-nav" class="second-menu menu-line">
                <li><a href="<%=root_path%>#oneday">Однодневные поездки</a></li>
                <li><a href="<%=root_path%>#manyday">Многодневные поездки</a></li>
                <li><a href="<%=root_path%>#external">Зарубежные поездки</a></li>
                <li><a href="<%=root_path%>#crimea">Крым</a></li>
                <li><a href="<%=root_path%>#balaam">Валаам</a></li>
                <li><a href="<%=root_path%>#spb">Экскурсии по СПб</a></li>
                <% for page in Page.all %>
                  <li><a href="/pages/<%=page.url%>"><%=page.title%></a></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>



    <script type="text/javascript">
      $(document).ready(function () {
          $("header .sticky-nav").css("height", "195px");
            $("header .sticky-nav").css("background", "url(/header4.jpg)"); 
            $("header .sticky-nav").css("background-size", "cover");
            $('#myCarousel').carousel({});
            $('.sticky-nav').css("position", "fixed");// waypoint('sticky');
      
      
        $(window).scroll(function () {
          var scrollTop = $(window).scrollTop();
          if (scrollTop > 50) {
            $("header .sticky-nav").css("height", "88px");
            $("header .sticky-nav").css("background", "url(/menu2.jpg)");
            $("header .sticky-nav").css("background-size", "cover");
          } else {
            $("header .sticky-nav").css("height", "195px");
            $("header .sticky-nav").css("background", "url(/header4.jpg)"); 
            $("header .sticky-nav").css("background-size", "cover");
          }
        });
      });

      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter20363389 = new Ya.Metrika({id:20363389,
                          webvisor:true,
                          clickmap:true,
                          trackLinks:true,
                          accurateTrackBounce:true});
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
  </script>
<!-- /Yandex.Metrika counter -->
</body>




</html>